.navbar {
    width: 100%;
    height: 8vh;

    position: fixed;

    background: var(--foreground-color);
    box-shadow: 0 0 1em #111;

    display: flex;
    justify-content: center;
}

.navbar div {
    width: 33%;

    display: flex;
    justify-content: center;
    align-items: center;
}